body{
    margin: 0;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
}
/*todo FIX ME: El scroll baja hasta abajo y deberia ser solo hasta el teclado Se necesita que se vean los mensajes.
todo FIX ME: HAY QUE AÑADIR AL TECLADO UN TAMAÑO MINIMO Y MÁXIMO
 */
.contenedor {
    display: grid;
   /* grid-template-columns: 2fr;
    grid-template-areas:
    "formulario"
    "teclado";
    grid-template-rows: 1.5fr 2.5fr;
    */




}

#messages {
    display: flex;
    justify-content: flex-start;
    justify-items: flex-end;
    align-items: flex-end;
    flex-direction: column;
    /*grid-area: messages; */

    font-family: "Lucida Console", "Courier New", monospace;
/*
Limitar el grid
 */
}


#messages>div{
    background-color: #23a6d5;
   margin: 10px;
    padding: 5px;
    width: fit-content;
    height: fit-content;
}
/*
TODO CENTRAR LA FECHA DE ARRIBA
 */
#fecha{
    height: 24px;
    margin: 13px;
    background-color: pink;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    font-family: "Lucida Console", "Courier New", monospace;
    border-radius: 6px;
    font-size: 17px;
    padding: 7px;
}

.formulario{
   grid-area: formulario;
    background-color: lightpink;
    position: fixed;
    bottom: 215px;
    align-items: baseline;

}
button{
    border-radius: 50%;
    padding: 5px;
}
button>img{
    width: 20px;
    height: 20px;
}
.inputtext{
    border: 2px solid black;
    /*border-radius: 25px;*/
    width: 76.6vw;
    height: 4vh;
    font-style: italic;
    resize: none;
}

.teclado {
    grid-area: teclado;
    background-color: lightgray;
    position: fixed;
    bottom: 0;
    width: 98.9vw;
    height: 33vh;
    border-radius:3px;
    border:2px solid grey;
    font-size: 4vh;
    font-family: Arial, serif;
}

.linea1{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5px;
    line-height: 5vh;
}

.linea1 >div{
    border: solid;
    border-radius: 3px;
    width: 55px;
    text-align: center;
    margin: 2px;
    float: left;
    cursor: pointer;
    background-color: pink;
    /* box-sizing: border-box; */
    flex-grow: 2;
}
#spacebar{
    flex-basis: 500px;
}
/*
.hideemoji{
display: none;
}
*/
#gifs{

    background-color: lightgray;
    position: fixed;
    bottom: 0;
    width: 98.9vw;
    height: 33vh;
    border-radius:3px;
    border:2px solid grey;
    font-size: 4vh;
    font-family: Arial, serif;
}
.gifemoji{

    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5px;
    line-height: 5vh;
}

.gifemoji >div{

    border: solid;
    border-radius: 3px;
    width: 55px;
    text-align: center;
    margin: 2px;
    float: left;
    cursor: pointer;
    background-color: pink;
    /* box-sizing: border-box; */
    flex-grow: 2;
}
