body{
    margin: 0;
}

.contenedor {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 11.7fr 0.5fr 1fr;
    grid-template-areas:
    "messages"
    "formulario"
    "teclado";
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;


}



.messages {
    display: flex;
    justify-content: flex-start;
    justify-items: flex-end;
    align-items: flex-end;
    flex-direction: column;
    grid-area: messages;
    font-family: "Lucida Console", "Courier New", monospace;

}


.messages>div{
    background-color: #23a6d5;
   margin: 10px;
    padding: 5px;
    width: fit-content;
    height: fit-content;
    overflow: auto;
}

.formulario{
   grid-area: formulario;


}
.inputtext{
    height: 2vh;
}

.teclado {
    grid-area: teclado;
    background-color: lightgray;
    position: absolute;
    bottom: 0;
    width: 98.9vw;
    height: 33vh;
    border-radius:3px;
    border:2px solid grey;
    font-size: 4vh;
    font-family: Arial, serif;
}

.linea1{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5px;
    line-height: 5vh;
}

.linea1 >div{
    border: solid;
    border-radius: 3px;
    width: 55px;
    text-align: center;
    margin: 2px;
    float: left;
    cursor: pointer;
    background-color: pink;
    /* box-sizing: border-box; */
    flex-grow: 2;
}
#spacebar{
    flex-basis: 500px;
}